<div class="container-fluid">
  <h1>Auto Amigo</h1>
  <p>
    <a ui-sref="home">Go to Splash</a>
  </p>
  <p>
    Keep track of your gas history here!
  </p>
  <form id="gasForm" ng-submit="$ctrl.submit()">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="previousMileage">Previous Mileage</label>
        <input type="text" class="form-control" id="previousMileage" name="previousMileage">
      </div>
      <div class="form-group col-md-2">
        <label for="currentMileage">Current Mileage</label>
        <input type="text" class="form-control" id="currentMileage">
      </div>
      <div class="form-group col-md-2">
        <label for="gallons">Gallons</label>
        <input type="text" class="form-control" id="gallons">
      </div>
      <div class="form-group col-md-2">
        <label for="pricePerGallon">Price Per Gallon</label>
        <input type="text" class="form-control" id="pricePerGallon">
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
      </div>
    </div>
  </form>
  
  <table>
    <thead>
      <th>Date</th>
      <th>Previous Mileage</th>
      <th>Current Mileage</th>
      <th>Miles Driven</th>
      <th>Gallons</th>
      <th>MPG</th>
      <th>Price per Gallon</th>
      <th>Total Spent</th>
    </thead>
    <tbody id="gas">
      <tr ng-repeat="entry in $ctrl.gaslog">
        <td>{{entry.date}}</td>
        <td>{{entry.previousMileage}}</td>
        <td>{{entry.currentMileage}}</td>
        <td>{{entry.milesDriven}}</td>
        <td>{{entry.gallons}}</td>
        <td>{{entry.MPG}}</td>
        <td>${{entry.pricePerGallon}}</td>
        <td>${{entry.totalSpent}}</td>
      </tr>
    </tbody>
  </table>
</div>