<div class="container-fluid">
  <p>
    Keep track of your gas history here!
  </p>
  <div>
    <form id="gasForm" ng-submit="$ctrl.submit()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="previousMileage">Previous Mileage</label>
          <input type="text" class="form-control" id="previousMileage" name="previousMileage">
        </div>
        <div class="form-group col-md-3">
          <label for="currentMileage">Current Mileage</label>
          <input type="text" class="form-control" id="currentMileage">
        </div>
        <div class="form-group col-md-3">
          <label for="gallons">Gallons</label>
          <input type="text" class="form-control" id="gallons">
        </div>
        <div class="form-group col-md-3">
          <label for="pricePerGallon">Price Per Gallon</label>
          <input type="text" class="form-control" id="pricePerGallon">
        </div>
        <div>
          <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Previous Mileage</th>
        <th scope="col">Current Mileage</th>
        <th scope="col">Miles Driven</th>
        <th scope="col">Gallons</th>
        <th scope="col">MPG</th>
        <th scope="col">Price per Gallon</th>
        <th scope="col">Total Spent</th>
      </tr>
    </thead>
    <tbody id="gas">
      <tr ng-repeat="entry in $ctrl.gaslog">
        <th scope="row">{{entry.date}}</th>
        <td>{{entry.previousMileage}}</td>
        <td>{{entry.currentMileage}}</td>
        <td>{{entry.milesDriven}}</td>
        <td>{{entry.gallons}}</td>
        <td>{{entry.MPG}}</td>
        <td>${{entry.pricePerGallon}}</td>
        <td>${{entry.totalSpent}}</td>
      </tr>
    </tbody>
  </table>
</div>