<div>
  <h1>Auto Amigo</h1>
  <p>
    <a ui-sref="home">Go to Splash</a>
  </p>
  <p>
    Keep track of your gas history here!
  </p>
  <form id="gasForm">
    Previous Mileage: <input id="previousMileage" type="text"></input>
    Current Mileage: <input id="currentMileage" type="text"></input>
    Gallons: <input id="gallons" type="text"></input>
    Price per Gallon: <input id="pricePerGallon" type="text"></input>
    <input id="submit" type="submit" value="Submit" ng-click="$ctrl.submit()"></input>
  </form>
  
  <table>
    <thead>
      <th>Date</th>
      <th>Previous Mileage</th>
      <th>Current Mileage</th>
      <th>Miles Driven</th>
      <th>Gallons</th>
      <th>MPG</th>
      <th>Price per Gallon</th>
      <th>Total Spent</th>
    </thead>
    <tbody id="gas">
      <tr ng-repeat="entry in $ctrl.gaslog">
        <td>{{entry.date}}</td>
        <td>{{entry.previousMileage}}</td>
        <td>{{entry.currentMileage}}</td>
        <td>{{entry.milesDriven}}</td>
        <td>{{entry.gallons}}</td>
        <td>{{entry.MPG}}</td>
        <td>${{entry.pricePerGallon}}</td>
        <td>${{entry.totalSpent}}</td>
      </tr>
    </tbody>
  </table>
</div>