<div>
  <h1>Auto Amigo</h1>
  <p>
    Keep track of your gas history here!
  </p>
  Current Mileage: <input type="text">
  Gallons: <input type="text">
  Price per Gallon: <input type="text">
  
  <table>
    <thead>
      <th>Date</th>
      <th>Current Mileage</th>
      <th>Miles Driven</th>
      <th>Gallons</th>
      <th>MPG</th>
      <th>Price per Gallon</th>
      <th>Total Spent</th>
    </thead>
    <tbody>
      <tr>
        <td>10/19/17</td>
        <td>100,000</td>
        <td>500</td>
        <td>15</td>
        <td>33.33</td>
        <td>$3.25</td>
        <td>$48.75</td>
      </tr>
    </tbody>
  </table>
</div>